body {
  color: white;
  background: black;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  line-height: 2.5;
}

.what {
  background: orange;
  color: blue;
}

.power {
  background: blue;
  color: orange;
}

a {
  color: white;
}

.dis {
  background: Teal;
  color: maroon;
}

.dis2 {
  background: maroon;
  color: teal;
}

.pros {
  background: Purple;
  color: yellow;
}

.cons {
  background: yellow;
  color: purple;
}

.pic {
  width: 50%;
  height: 50%;
}

.fuku {
  background: silver;
  color: indigo;
}

.bomb {
  background: indigo;
  color: silver;
}
